* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navLeft {
    display: flex;
}

.dropdownButton {
    overflow: hidden;
}

.dropdownButton .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.menuContent {
    visibility: collapse;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(10px);
    opacity: 0;
    transform-origin: top;
    transition: transform ease 150ms, opacity ease 150ms, visibility ease 150ms;
}

.dropdown-content .heading {
    background: red;
    padding: 16px;
    color: white;
}

.dropdownButton:hover .menuContent {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: transform ease 150ms, opacity ease 150ms;
}

.column {
    padding: 10px;
}

.column a {
    color: gray;
    text-decoration: none;
    text-align: left;
    transition: color ease 150ms;
}

.imageContainer {
    padding: 10px;
}

h1,
h2 {
    font-family: 'Frank Ruhl Libre', serif;
}

.iconsRight i,
.iconsLeft i,
.navLeft a,
.navRight a {
    margin: 0px 8px;
}

.logo {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
}

.btn:hover#button1 {
    color: black !important;
    background-color: #51b5ff !important;
    border-color: #51b5ff !important;
    border-radius: 0 !important;
}

.btn:hover {
    background-color: white !important;
    border-color: white !important;
}

.btn:hover#button2 {
    color: black !important;
    background-color: #fff5f5 !important;
    border-color: #fff5f5 !important;
    border-radius: 0 !important;
}

.btn:hover#button3 {
    color: black !important;
    background-color: #f976a1 !important;
    border-color: #f976a1 !important;
    border-radius: 0 !important;
}

.btn:hover#button4 {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
    border-radius: 0 !important;
}

.btn:hover#button5 {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    border-radius: 0 !important;
}

.productGuide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f4f4;
}

.productGuide h1 {
    margin-top: 70px;
    margin-bottom: 50px;
}

.newArrivals {
    background-color: #fff;
}

.banner {
    padding-top: 20px;
}

.formTheBlog,
.instaPost {
    background-color: white !important;
}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.footer {
    padding: 30px;
    background-color: #f5f4f4;
}

.icon {
    padding: 10px;
    min-width: 50px;
    height: 100%;
    text-align: center;
    align-self: stretch;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: gray !important;
}

.right div ul li,
.column ul li {
    list-style: none;
    margin: 10px 1px;
}

.right div ul li a {
    text-decoration: none;
    color: gray;
    transition: color ease 150ms;

}

.right div ul li a:hover {
    color: black;
    transition: color ease 150ms;

}

.right div ul {
    padding: 20px;
    margin-bottom: 0;
}

.left {
    padding: 10px 100px;
    align-self: center;
}

.left p {
    font-size: 12px;
}

.icons i {
    margin: 20px;
}

.copyrights {
    margin: 0;
}

.menuItem a:hover {
    color: black;
    transition: color ease 150ms;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 0.375rem;
    transform: scale(1);
    transition: all ease 250ms;
}

.cardHover:hover .overlay {
    opacity: 1;
    /* transform: scale(1.1); */
    transition: all ease 250ms;
}

.iconOverlay {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all ease 250ms;
}

.iconOverlay i {
    margin: 2px 10px;
    color: white;
}

.iconOverlay span {
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    transition: all ease 250ms;
}

.cardHover:hover .iconOverlay {
    height: 15%;
    opacity: 1;
    transition: all ease 250ms;
}

.iconOverlay span.megaMenuIcon {
    width: 40px;
    height: 40px;
    margin: 0px 7px;
}

.iconOverlay span:hover {
    background-color: rgb(37, 37, 37);
    transition: all ease 250ms;

}

.iconOverlay span:hover svg {
    fill: rgb(236, 236, 236) !important;
    transition: all ease 250ms;

}

.navBarIcons {
    transition: all ease 150ms;
}

.navBarIcons:hover {
    color: gray;
    transition: all ease 150ms;
}

.iconOverlayPost {
    bottom: 0px;
}

.cardHover:hover .iconOverlayPost {
    height: 30%;
}

.flexboxContainer{
    justify-content: flex-start !important;
}

@media(max-width: 1024px){
    .flexboxContainer{
        margin: 0 !important;
        padding: 0 !important;
    }
    .menuContent{
        padding: 0 !important;
    }
    .listItems{
        padding: 0 !important;
        margin:  0 !important;
    }
    .cardHover#pro1, .cardHover#pro2, .cardHover#pro3{
        width: 10rem !important;
    }
    .footer{
        padding: 0 !important;
    }
    #containerMargin{
        margin: 0 !important;
        padding: 0 !important;
    }
    .left{
        padding: 10px 0px 10px 30px;
    }
    .right .service ul, .right .page ul, .right .pages ul{
        padding: 20px 8px;
    }
    #footerIconsAndCopyright{
        padding-left: 0px !important;
    }
    .banner{
        position: relative;
    }
    .bannerTextDiv{
        position: absolute;
        width: fit-content;
        right: 40%;
        margin-left: 10px !important;

    }
    .bannerImage{
        width: 60%;
        margin-left: 30%;
    }

}

@media(min-width: 501px) and (max-width: 768px) {
    .flexboxContainer{
        /* flex-direction: column !important; */
        flex-wrap: wrap;
        margin: 0px !important;
    }
    .imageContainer{
        justify-content: space-evenly !important;
        padding: 0px !important;
    }
    .cardHover#pro1, .cardHover#pro2, .cardHover#pro3{
        width: 10rem !important;
    }
    .menuContent{
        overflow: auto !important;
    }
    .listItems{
        justify-content: space-around;
    }
    .left{
        padding: 10px 0px 10px 10px;

    }
    .directionColoumn{
        flex-direction: column !important;
    }
    .justify{
        justify-content: space-around;
    }
    #footerIconsAndCopyright{
        padding: 0px !important;
    }
    .cardHover:hover .iconOverlayPost{
        height: 40%;
    }
    .banner{
        position: relative;
    }
    .bannerTextDiv{
        position: absolute;
        width: fit-content;
        right: 30% !important;
        margin-left: 10px !important;
    }
    .bannerImage{
        width: 70%;
        margin-left: 30% !important;
    }
    
}